<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="trace">


<Appenders>


<Console target="SYSTEM_OUT" name="Console">

<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->


<!-- <PatternLayout pattern="%d %-5p [%c{1}] %m %n"/>-->


<PatternLayout pattern="%msg%n"/>

</Console>


<File name="LogToFile" fileName="logs/app.log">


<PatternLayout>

<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>

</PatternLayout>

</File>

</Appenders>


<Loggers>


<Root level="error">

<AppenderRef ref="Console"/>

</Root>

</Loggers>

</Configuration>